body {
	color: black;
	background-color: #000033;
	font-size: 15pt;
	font-family: arial,verdana,sans-serif;  
	}

	H1 {
   font-family: 'Times New Roman';
   font-size: 36px;
   text-align:center;
   background: #ffffff;
   color: #ff9900
}

H2 {
   font-family: arial,verdana,sans-serif;
   font-size: 20px;
   background: #ffffff;
   color: navy;
}

H3 {
   font-family: 'Times New Roman';
   font-size: 36px;
   background: #ffffff;
   color: black;
}

H4 {
   font-family: arial,verdana,sans-serif;
   font-size: 20px;
   text-decoration: underline;
   background: #ffffff;
   color: black;
}

P {
   font-family: arial,verdana,sans-serif;
   font-size: 16px;
   font-style:italic;
   font-weight:bold; 
   background: #ffffff;
   color: black;
}

div.centerDiv {
    background-color: white;
    padding: 20px 20px 20px 20px;
	
} 

div.resumeDiv {
    background-color: white;
    margin: 0 200px 10px 200px;
    padding: 20px;
	border-style: double;
	border-color: #ff9900;
} 

div.name {
    background-color: white;
	text-align:center; 
} 

div.resumeFont {
   font-family: arial,verdana,sans-serif;
   font-size: 15px;
   font-weight:bold; 
   background: #ffffff;
   color: black;
} 

div.link {
   font-family: arial,verdana,sans-serif;
   font-size: 15px;
   text-align:center;
   background: #ffffff;
   color: black;
}

div.extra {
   font-family: arial,verdana,sans-serif;
   font-size: 15px;
   background: #000033;
   color: black;
   text-align:left;
}  